html {
    background-color: rgb(50, 50, 50);
    color: rgb(190, 190, 190);
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
    height: 100vh;
}

body {
    /* background-color: rgb(20, 20, 20); */
    background-color: rgb(0, 0, 0);
    padding: 2em 3em 5em 3em;
    max-width: 65%;
    border-radius: 0.4em;
    overflow: auto;
    margin: 2em auto 6em;
}

h1 {
    text-align: center;
}

fieldset {
    border: 0;
}

#heroism {
    background-color: rgb(11, 11, 11);
    border-radius: 4px;
}
#empire {
    background-color: rgb(4, 4, 4);
    border-radius: 4px;
}
#legacy {
    background-color: rgb(7, 7, 7);
    border-radius: 4px;
}

#heroism, #empire, #legacy {
    padding: 0.1em 1em 1em 2em; 
    margin-bottom: 1em;
}


#dune-logo {
    width: 40%;
    display: block;
}

nav {
    display: flex;
}
nav > ul {
    display: flex;
    width: 50%;
    list-style: none;
    justify-content: space-between;
    padding-top: 0.7em;
}

nav > ul > li > a {
    text-decoration: none;
    color: rgb(221, 201, 201);
    font-weight: 600;
    padding: 0.5em;
    
}

nav > ul > li > a:hover {
    background-color: rgba(207, 129, 27, 0.895);
    color: rgb(174, 170, 170);
    padding: 0.5em;
    border-radius: 3px;
}

fieldset > legend > label > div {
    font-size: 1em;
    font-family: 'Aboreto', sans-serif;
    color: rgb(227, 221, 221);
}

/* radio button size */
input[type=radio] {
    width: 1.7em;
    height: 1.2em;
    margin-bottom: 1.4em;
}

#legacy_select {
    width: 80%;
    height: 2.2em;
}

button {
    width: 85%;
    height: 4em;
    background-color: rgb(125, 113, 45);
    color: rgb(194, 188, 188);
    border-radius: 3px;
    border: none;
}

button:hover {
    width: 87%;
    font-weight: 400;
    cursor: pointer;
    background-color: rgb(60, 54, 20);
}

#button_div {
    text-align: center;
}
/* Make the background-colors of the list the same as the sections and changed the shades of them when hover effect is on  */